body{
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  --color-brown: #A64B2A;
  counter-reset: score;
}
.phone{
  position: relative;
  border: 8px solid black;
  border-radius: 40px;
  height: 600px;
  width: 300px;
  background: #ccefff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 
  0 15px 12px rgba(0,0,0,0.22);
}
  
.layer1{
  position: absolute;
  z-index: 1;
  height: 450px;
  width: 80px;
  bottom: 0;
  right: 60px;

  animation-name: layer;
  animation-duration: 1s;

  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
input:checked{
  counter-increment: score;
}
.total-count::after{
  content: counter(score);
}
@keyframes layer{
  0%{
    bottom: 0;
  }
  50%{
    bottom: -80px;
  }
  100%{
    
  }
}

.layer1  input[type="checkbox"]{
  appearance: none;
  cursor: pointer;
  height: 50px;
  margin: 0;
  position: relative;
  top: 0;
  width: 80px;
  z-index: 2;
}

.layer2{
  position: absolute;
  z-index: 2;
  height: 450px;
  width: 80px;
  bottom: 0;
  left: 60px;
}
.layer3{
  position: absolute;
  z-index: 3;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 220px;
  height: 400px;
  background: var(--color-brown);
  bottom: 0;
}
.layer4{
  position: absolute;
  z-index: 4;
  height: 385px;
  width: 80px;
  bottom: 0;
  left: 20px;
}
.layer5{
  position: absolute;
  z-index: 5;
  left: 0;
  right: 30;
  margin: 0 auto;
  width: 200px;
  height: 335px;
  background: var(--color-brown);
  bottom: 0;
  border-radius: 0 0 0 30px;
}
.layer6{
  position: absolute;
  z-index: 6;
  height: 250px;
  width: 80px;
  bottom: 0;
  right: 35px;
}
.layer7{
  position: absolute;
  z-index: 7;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: var(--color-brown);
  bottom: 0;
  right: 0;
  border-radius: 0 0 30px 0;
}
.layer8{
  position: absolute;
  z-index: 8;
  height: 80px;
  width: 200px;
  background: yellow;
  right: 50px;
  bottom: 0px;
}
.layer9{
  position: absolute;
  z-index: 9;
}
.layer10{
  position: absolute;
  z-index: 10;
}
/* CUERNITOS */
.left-ear--outer{
  background: red;
  border-radius: 100%;
  width: 13px;
  height: 50px;
  position: absolute;
  left: 10px;
}
.right-ear--outer{
  background: red;
  border-radius: 100%;
  width: 13px;
  height: 50px;
  position: absolute;
  right: 10px;
}
/* OREJA IZQUIERDA
.left-ear--outer{
  background: black;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  left: 10px;
}
.left-ear--inner{
  background: pink;
  border-radius: 90%;
  width: 10px;
  height: 50px;
  position: absolute;
  left: 15px;
  top: 8px;
} */
/* OREJA DERECHA */
/* .left-ear--outer{
  background: black;
  border-radius: 90%;
  width: 20px;
  height: 50px;
  position: absolute;
  left: 10px;
} */
/* .right-ear--inner{
  background: red;
  border-radius: 50%;
  width: 6px;
  height: 50px;
  position: absolute;
  right: 15px;
  top: 8px;
} */

/* CABECITA */
.head{
  background: white;
  border-radius: 50%;
  height: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  top: 30px;
  width: 100%;
}

/* OJITOS */
.head__eye{
  background: gray;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  position: absolute;
  top: 15px;

  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes blink{
  0%{
    height: 4px;
  }
  5%{
    transform: translate(0px, 2px);
    height: 1px;
  }
  10%{
    transform: translate(0px, 0px);
    height: 4px;
  }
}
.head__eye--left{
  left: 20px;
}
.head__eye--right{
  right: 20px;
}
.pastito{
  height: 34px;
  width: 100%;
  position: absolute;
}
.pastito-sombra{
  height: 34px;
  width: 100%;
  position: absolute;
  top: 10px;
}
.zigzag{
  background: linear-gradient(135deg, teal 25%, transparent 25%) -2px 0,
    linear-gradient(-135deg, teal 25%, transparent 25%) -2px 0,
    linear-gradient(45deg, teal 25%, transparent 25%),
    linear-gradient(-45deg, teal 25%, transparent 25%);
background-size: 34px 100px;
}
.zigzag-sombra{
  background: linear-gradient(135deg, #8E3200 25%, transparent 25%) -2px 0,
    linear-gradient(-135deg, #8E3200 25%, transparent 25%) -2px 0,
    linear-gradient(45deg, #8E3200 25%, transparent 25%),
    linear-gradient(-45deg, #8E3200 25%, transparent 25%);
background-size: 34px 100px;
}